In [1]:
from distutils.version import LooseVersion as Version
from sklearn import __version__ as sklearn_version

import numpy as np
import pandas as pd
import pylab as pl
import math

from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

%matplotlib inline 
import matplotlib.pyplot as plt 
import matplotlib.gridspec as gridspec 
import matplotlib.mlab as mlab

In [2]:
df = pd.read_csv('car.csv',header=0)
df.head()

  buying  maint doors persons lug_boot safety classe
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [3]:
##   Categorical Conversion

doors = {
            '2':'2',
            '3':'3',
            '4':'4',
            '5more':'5'
          }
persons = {
            '2':'2',
            '4':'4',
            'more':'5'
            }

classe = {
            'unacc':'0',
            'acc':'1',
            'good':'2',
            'vgood':'3'
        }

door_tmp = df['doors']
persons_tmp = df['persons']


X = df[['buying', 'maint', 'lug_boot', 'safety','classe']].values

ordinal_le = LabelEncoder()
X[:,0] = ordinal_le.fit_transform(X[:,0])
X[:,1] = ordinal_le.fit_transform(X[:,1])
X[:,2] = ordinal_le.fit_transform(X[:,2])
X[:,3] = ordinal_le.fit_transform(X[:,3])
X[:,4] = ordinal_le.fit_transform(X[:,4])

door_tmp = pd.get_dummies(door_tmp)
persons_tmp = pd.get_dummies(persons_tmp)

In [4]:
df = pd.DataFrame(X)
df.columns = ['buying', 'maint', 'lug_boot', 'safety', 'classe']
df[['doors_2','doors_3','doors_4','doors_5more']] = door_tmp
df[['persons_2','persons_4','persons_more']] = persons_tmp

# # Moving classe column to the end
classe_tmp = df['classe']
del df['classe']
df['classe'] = classe_tmp

df.head()

,buying,maint,lug_boot,safety,doors_2,doors_3,doors_4,doors_5more,persons_2,persons_4,persons_more,classe
0,3,3,2,1,1,0,0,0,1,0,0,2
1,3,3,2,2,1,0,0,0,1,0,0,2
2,3,3,2,0,1,0,0,0,1,0,0,2
3,3,3,1,1,1,0,0,0,1,0,0,2
4,3,3,1,2,1,0,0,0,1,0,0,2

In [24]:
df.head().values

array([[3, 3, 2, 1, 1, 0, 0, 0, 1, 0, 0, 2],
       [3, 3, 2, 2, 1, 0, 0, 0, 1, 0, 0, 2],
       [3, 3, 2, 0, 1, 0, 0, 0, 1, 0, 0, 2],
       [3, 3, 1, 1, 1, 0, 0, 0, 1, 0, 0, 2],
       [3, 3, 1, 2, 1, 0, 0, 0, 1, 0, 0, 2]], dtype=object)

In [11]:
print(df.describe())
print(df.classe.unique())

           doors_2      doors_3      doors_4  doors_5more    persons_2  \
count  1728.000000  1728.000000  1728.000000  1728.000000  1728.000000
mean      0.250000     0.250000     0.250000     0.250000     0.333333
std       0.433138     0.433138     0.433138     0.433138     0.471541
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.250000     0.250000     0.250000     0.250000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

         persons_4  persons_more
count  1728.000000   1728.000000
mean      0.333333      0.333333
std       0.471541      0.471541
min       0.000000      0.000000
25%       0.000000      0.000000
50%       0.000000      0.000000
75%       1.000000      1.000000
max       1.000000      1.000000
[2 0 3 1]

In [12]:
# a=df['classe']
# plt.hist(a)
# plt.title('Classe (0, 1, 2, 3)')
# plt.show()

In [13]:
df.isnull().sum()

buying          0
maint           0
lug_boot        0
safety          0
doors_2         0
doors_3         0
doors_4         0
doors_5more     0
persons_2       0
persons_4       0
persons_more    0
classe          0
dtype: int64

In [14]:
label = df['classe']
# print(label)
features = df.drop('classe', 1)
features.head()

,buying,maint,lug_boot,safety,doors_2,doors_3,doors_4,doors_5more,persons_2,persons_4,persons_more
0,3,3,2,1,1,0,0,0,1,0,0
1,3,3,2,2,1,0,0,0,1,0,0
2,3,3,2,0,1,0,0,0,1,0,0
3,3,3,1,1,1,0,0,0,1,0,0
4,3,3,1,2,1,0,0,0,1,0,0

In [15]:
# SVM

In [16]:

svm=SVC(C=1.0,kernel='rbf', max_iter=1000, tol=1e-05, verbose=0)
svm

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=1000, probability=False, random_state=None,
  shrinking=True, tol=1e-05, verbose=0)

In [17]:
X = np.array(features)
y = np.array(label).astype('int')

svm=svm.fit(X,y)

/usr/local/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/site-packages/sklearn/svm/base.py:244: ConvergenceWarning: Solver terminated early (max_iter=1000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

In [18]:
print('dual coef \n', svm.dual_coef_)
print ('support vectors \n', svm.support_vectors_)
print('index of support vectors \n ', svm.support_)
print ('bias', svm.intercept_)
print('the classifier \n', svm)

dual coef
 [[ 0.  0.  0. ..., -1. -1. -1.]
 [ 1.  1.  1. ..., -1. -1. -1.]
 [ 0.  0.  0. ..., -0. -0. -0.]]
support vectors
 [[ 3.  2.  2. ...,  0.  1.  0.]
 [ 3.  2.  1. ...,  0.  1.  0.]
 [ 3.  2.  0. ...,  0.  1.  0.]
 ...,
 [ 1.  1.  1. ...,  0.  0.  1.]
 [ 1.  1.  1. ...,  0.  1.  0.]
 [ 1.  1.  1. ...,  0.  0.  1.]]
index of support vectors
  [ 227  230  232  233  239  241  242  254  257  259  260  263  265  266  268
  269  281  283  284  286  287  290  292  293  295  296  308  310  311  313
  314  317  319  320  322  323  335  338  340  341  347  349  350  362  365
  367  368  371  373  374  376  377  389  391  392  394  395  398  400  401
  403  404  416  418  419  421  422  425  427  428  430  431  551  554  556
  563  565  566  578  581  583  584  587  589  592  593  605  607  610  611
  614  616  619  620  632  634  637  638  641  643  646  647  659  662  664
  665  671  673  674  686  689  691  692  695  697  698  700  701  713  715
  716  718  719  722  724  725  727  728  740  742  743  745  746  749  751
  752  754  755  767  770  772  773  779  781  782  794  797  799  800  803
  805  806  808  809  821  823  824  826  827  830  832  833  835  836  848
  850  851  853  854  857  859  860  862  863  875  878  880  881  887  889
  890  902  905  907  908  911  913  914  916  917  929  931  932  934  935
  938  940  941  943  944  956  958  959  961  962  965  967  968  970  971
  983  986  988  989  995  997  998 1010 1013 1015 1016 1019 1021 1022 1024
 1025 1037 1039 1040 1042 1043 1046 1048 1049 1051 1052 1064 1066 1067 1069
 1070 1073 1075 1076 1078 1079 1090 1091 1093 1094 1096 1102 1103 1105 1117
 1118 1120 1121 1123 1126 1127 1129 1132 1144 1145 1147 1150 1153 1154 1156
 1159 1171 1172 1174 1177 1180 1181 1183 1186 1198 1201 1210 1225 1228 1234
 1252 1261 1279 1288 1307 1310 1312 1313 1319 1321 1322 1334 1337 1339 1340
 1343 1345 1346 1348 1349 1361 1363 1364 1366 1367 1370 1372 1373 1375 1376
 1388 1390 1391 1393 1394 1397 1399 1400 1402 1403 1414 1415 1417 1418 1420
 1426 1427 1429 1441 1442 1444 1445 1447 1450 1451 1453 1456 1468 1469 1471
 1474 1477 1478 1480 1483 1495 1496 1498 1501 1504 1505 1507 1510 1522 1525
 1534 1549 1552 1558 1576 1585 1603 1612 1630 1633 1642 1657 1660 1666 1684
 1693 1711 1720 1199 1202 1204 1211 1213 1226 1229 1231 1235 1237 1240 1253
 1255 1258 1262 1264 1267 1280 1282 1285 1289 1291 1294 1523 1526 1528 1535
 1537 1550 1553 1555 1559 1561 1564 1577 1579 1582 1586 1588 1591 1604 1606
 1609 1613 1615 1618 1631 1634 1636 1643 1645 1658 1661 1663 1667 1669 1672
 1685 1687 1690 1694 1696 1699 1712 1714 1717 1721 1723 1726   11   14   16
   17   20   23   25   26   38   41   43   44   47   49   50   52   53   65
   67   68   70   71   74   76   77   79   80   92   94   95   97   98  101
  103  104  106  107  119  122  124  125  128  131  133  134  146  149  151
  152  155  157  158  160  161  173  175  176  178  179  182  184  185  187
  188  200  202  203  205  206  209  211  212  214  215  229  231  236  238
  256  258  262  267  280  285  289  294  307  312  316  321  337  339  344
  346  361  364  370  375  388  393  397  402  415  420  424  429  443  446
  448  449  452  455  457  458  470  473  475  476  479  482  484  485  497
  500  502  503  506  508  509  511  512  524  527  529  530  533  535  536
  538  539  548  550  552  553  555  560  561  562  564  569  575  577  579
  580  582  586  588  591  596  601  604  606  609  612  613  615  618  623
  628  631  633  636  639  640  642  645  661  663  668  670  688  699  712
  717  721  726  739  744  748  753  769  771  776  778  780  793  796  798
  802  804  807  820  822  825  829  831  834  847  849  852  856  858  861
  877  879  884  886  901  904  906  910  915  928  933  937  942  955  960
  964  969  982  985  987  992  994 1009 1012 1018 1036 1045 1063 1072 1092
 1095 1100 1104 1109 1112 1115 1116 1119 1122 1125 1128 1131 1136 1139 1141
 1142 1143 1146 1149 1152 1155 1158 1163 1166 1168 1169 1170 1173 1176 1179
 1182 1185 1200 1203 1207 1208 1212 1224 1227 1230 1233 1236 1239 1249 1250
 1251 1254 1257 1260 1263 1266 1276 1277 1278 1281 1284 1287 1290 1293 1309
 1316 1318 1336 1342 1347 1360 1365 1369 1374 1387 1392 1396 1401 1416 1419
 1423 1424 1428 1443 1446 1452 1455 1466 1467 1470 1473 1479 1482 1493 1494
 1497 1500 1506 1509 1524 1527 1532 1536 1541 1548 1551 1554 1560 1563 1573
 1575 1578 1581 1584 1587 1590 1600 1602 1605 1608 1611 1614 1617 1627 1628
 1632 1635 1639 1640 1644 1649 1652 1654 1655 1656 1659 1662 1665 1668 1671
 1679 1681 1682 1683 1686 1689 1692 1695 1698 1706 1708 1709 1710 1713 1716
 1719 1722 1725 1097 1106 1124 1130 1133 1148 1151 1157 1160 1175 1178 1184
 1187 1205 1214 1232 1238 1241 1256 1259 1265 1268 1283 1286 1292 1295 1421
 1430 1448 1454 1457 1472 1475 1481 1484 1499 1502 1508 1511 1529 1538 1556
 1562 1565 1580 1583 1589 1592 1607 1610 1616 1619 1637 1646 1664 1670 1673
 1688 1697 1715 1724]
bias [ 3.16219478  0.59164165  4.40968957 -1.27193255  0.89926544  3.11446949]
the classifier
 SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=1000, probability=False, random_state=None,
  shrinking=True, tol=1e-05, verbose=0)

In [25]:
print(svm.predict([[3, 3, 2, 1, 1, 0, 0, 0, 1, 0, 0],
                   [3, 3, 2, 2, 1, 0, 0, 0, 1, 0, 0],
                   [3, 3, 2, 0, 1, 0, 0, 0, 1, 0, 0],
                   [3, 3, 1, 1, 1, 0, 0, 0, 1, 0, 0],
                   [3, 3, 1, 2, 1, 0, 0, 0, 1, 0, 0]]))

[2 2 2 2 2]